
<div class = "main_home">
  <div class = "jombotron">
    <div class = "container">
      <h2>My name is <span class = "hightlight" >Nguyen Thi Hien</span> and I have creative ideas and builds website</h2>
      <a class = "btn right" href = "/portfolio">View my Work</a>
    </div>
  </div>
</div>

