<div class="row">
    <div class="col-md-6">
        <img class="about-img" src="..//images/IMG_1008.JPG">
    </div>
    <div class="col-md-6 text-left">
        <h3>Hello. My name is <span class="hight-light">Nguyen Thi Hien </span></h3>
        <p>I was born in 1995 in Dong Nai province and raised in that before come to Ho Chi Minh city to learn.</p>
        <p>Since 2013, I've been done my favorite. Learn programing.</p>
    </div>
</div>
